:root {
    --color-primary: #171A1F;
    --color-secondary: #2B3038;

    --body-bg: var(--color-primary);
    --font-family: "Varela Round";
    --font-color: #FFFFFF;

    --item-bg: var(--color-secondary);
    --item-hover-bg: #20232A;
    --item-minmax-width: 300px;
    --item-icon-size: 30px;

    --item-name-color: var(--font-color);
    --item-name-size: large;
    --item-name-weight: normal;

    --item-size-color: #808080;
    --item-size-size: small;
}